#leftmenu {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 106%;
width: 140px;
padding: 0 0 5px 0;
margin: 0;
}

#leftmenu ul {
list-style: none;
margin: 0;
padding: 0;
border: none;
}
#leftmenu ul li {
margin: 0;
padding: 0;
}
#leftmenu ul li a {
font-size: 90%;
display: block;
border-bottom: 1px dashed #126B4B;
margin:0;
padding: 4px;
text-decoration: none;
color: #385004;
width:135px;
}

#leftmenu ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #F7F0DE;
}

