<div id ="search">
  <%= render 'search' %>
</div>
<hr>
<div id ="newProduct">
  <%= link_to 'Click to Post a new Product', new_product_path %>
</div>
<hr>
<div id = "container">
<h3>Product Listing</h3>
<div id="index">
<%= render 'index' %>
</div>
</div>
<br />
